Min dataset
Min dataset meta image
PAN dataset
feature_extractors/extracted-features/*
feature_extractors/bin/*
feature_extractors/cfg/*
train_classifiers/labels_object_detection/*
train_classifiers/trained-classifiers/*
logs.txt