tfidf-default
FeatureUnion(n_jobs=1,
       transformer_list=[('tfidf-default', Pipeline(memory=None,
     steps=[('wc2-default', CountVectorizer(analyzer='word', binary=False, decode_error='ignore',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=2,
        ngram_range=(1, 2), preprocessor=None, stop_words=None,
      ..., ('tfidf-default', TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True))]))],
       transformer_weights=None)

svm-default
CalibratedClassifierCV(base_estimator=LinearSVC(C=1.0, class_weight=None, dual=False, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=500,
     multi_class='crammer_singer', penalty='l1', random_state=None,
     tol=0.0001, verbose=0),
            cv=3, method='sigmoid')

